{% import "macros/breadcrumb.html.twig" as utils %} {% import "macros/head.html.twig" as head %} {% import "macros/foot.html.twig" as foot %} {% import "macros/alertes.html.twig" as alerte %} {% import "macros/table.html.twig" as table %} {% import "macros/link.html.twig"
as link %} {% import "macros/modal.html.twig" as modal %} {% import ('macros/ribbon.html.twig') as ribbon %} {% extends 'admin/base.html.twig' %} {% block stylesheets %} {{ head.dataTable() }} {% endblock %} {% block title %}Order - {{ order.user.personne.firstname
~ ' ' ~ order.user.personne.lastname }} - {{ app_name }} {% endblock %} {% block modal %} {{ modal.default() }} {% endblock %} {% block javascripts %}
<script>
    $(document).ready(function() {
        // Modal date create
        $(document).on('click', '#btn-modal-date-create', function(e) {
                e.preventDefault()
                $('#modal-default').modal('show')
                let href = $(this).data('path')
                $.ajax({
                    url: href,
                    method: 'POST',
                    type: 'json',
                    data: {
                        modal: 'create'
                    },
                    beforeSend: function() {
                        $('.modal-loader').css('display', 'flex')
                    },
                    success: function(data) {
                        $('#modal-default .modal-title').html('Modifier la date emmission')
                        $('#modal-default .modal-body').html(data.content)
                        $('.modal-loader').css('display', 'none')
                    },
                    error: function() {
                        $('.modal-loader').css('display', 'none')
                        alert('Chargement impossible')
                    }
                })
            })
        // Modal status
        $(document).on('click', '#btn-modal-state', function(e) {
            e.preventDefault()
            $('#modal-default').modal('show')
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                data: {
                    modal: 'state'
                },
                beforeSend: function() {
                    $('.modal-loader').css('display', 'flex')
                },
                success: function(data) {
                    $('#modal-default .modal-title').html('Modifier le status')
                    $('#modal-default .modal-body').html(data.content)
                    $('.modal-loader').css('display', 'none')
                },
                error: function() {
                    $('.modal-loader').css('display', 'none')
                    alert('Chargement impossible')
                }
            })
        })
        // Modal qty
        $(document).on('click', '.btn-modal-qty', function(e) {
            e.preventDefault()
            $('#modal-default').modal('show')
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                data: {
                    modal: 'qty'
                },
                beforeSend: function() {
                    $('.modal-loader').css('display', 'flex')
                },
                success: function(data) {
                    $('#modal-default .modal-title').html('Modifier la quantité')
                    $('#modal-default .modal-body').html(data.content)
                    $('.modal-loader').css('display', 'none')
                },
                error: function() {
                    $('.modal-loader').css('display', 'none')
                    alert('Chargement impossible')
                }
            })
        })

        // Modifier la date de create
        $(document).on('click', '#order-edit-date-create', function() {
            let date_create = $('#js-order-date-create').val()
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                data: {
                    date_emission: date_create
                },
                beforeSend: function() {
                    $('.js-loader-text').text('Modification en cour ...')
                    $('.js-loader').css('display', 'flex')
                },
                success: function(data) {
                    $('.js-loader').css('display', 'none')
                    if (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Les modifications ont été enregistrée.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#modal-default').modal('hide')
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Une erreur est survenu.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: function() {
                    $('.js-loader').css('display', 'none')
                    Swal.fire({
                        icon: 'warning',
                        title: 'Une erreur est survenu.',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            })
        })


        // Modal date limite
        $(document).on('click', '#btn-modal-date-limite', function(e) {
            e.preventDefault()
            $('#modal-default').modal('show')
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                data: {
                    modal: 'limite'
                },
                beforeSend: function() {
                    $('.modal-loader').css('display', 'flex')
                },
                success: function(data) {
                    $('#modal-default .modal-title').html('Modifier la date limite de paiment')
                    $('#modal-default .modal-body').html(data.content)
                    $('.modal-loader').css('display', 'none')
                },
                error: function() {
                    $('.modal-loader').css('display', 'none')
                    alert('Chargement impossible')
                }
            })
        })

        //Modifier la quantite de l'article
        $(document).on('click','#btn-order-edit-order-item-qty',function(){
            let qty = $('#order-edit-item-qty').val()
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                beforeSend: function() {
                    $('.js-loader-text').text('Modification en cour ...')
                    $('.js-loader').css('display', 'flex')
                },
                data: {
                    qty: qty
                },
                success: function(data) {
                    $('.js-loader').css('display', 'none')
                    if (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Les modifications ont été enregistrée.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#modal-default').modal('hide')
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Une erreur est survenu.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: function() {
                    $('.js-loader').css('display', 'none')

                }
            })
        })

        $(document).on('click', '#order-edit-date-limite', function() {
            let date_limite = $('#js-order-date-limite').val()
            let href = $(this).data('path')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                beforeSend: function() {
                    $('.js-loader-text').text('Modification en cour ...')
                    $('.js-loader').css('display', 'flex')
                },
                data: {
                    date_limite: date_limite
                },
                success: function(data) {
                    $('.js-loader').css('display', 'none')
                    if (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Les modifications ont été enregistrée.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#modal-default').modal('hide')
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Une erreur est survenu.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: function() {
                    $('.js-loader').css('display', 'none')

                }
            })
        })

        $(document).on('click', '#order-edit-etat', function() {
            let etat = $('#js-order-etat').val()
            let href = $(this).data('path')
            let token = $(this).data('token')
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                beforeSend: function() {
                    $('.js-loader-text').text('Modification en cour ...')
                    $('.js-loader').css('display', 'flex')
                },
                data: {
                    _token: token,
                    state: etat
                },
                success: function(data) {
                    $('.js-loader').css('display', 'none')
                    if (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Les modifications ont été enregistrée.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Une erreur est survenu.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: function() {
                    $('.js-loader').css('display', 'none')
                }
            })
        })

        $(document).on('click', '#btn-order-edit-note', function() {
            let note = $('#order-edit-note').val()
            let href = $(this).data('path')
            let token = $(this).data('token')
            if (note.length < 10) {
                alert('La note est inférieur à 10 caracteres.')
                return false
            }
            $.ajax({
                url: href,
                method: 'POST',
                type: 'json',
                beforeSend: function() {
                    $('.js-loader-text').text('Modification en cour ...')
                    $('.js-loader').css('display', 'flex')
                },
                data: {
                    _token: token,
                    note: note
                },
                success: function(data) {
                    $('.js-loader').css('display', 'none')
                    if (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Les modifications ont été enregistrée.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#modal-default').modal('hide')
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Une erreur est survenu.',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: function() {
                    $('.js-loader').css('display', 'none')
                }
            })
        })
    })
</script>
{% endblock %} {% block breadcrumb %} {{ utils.breadcrumb('Edit Order',breadcrumb) }} {% endblock %} {% block body %} {% for item in app.flashes('success') %} {{ alerte.alert(item,'success')}} {% endfor %} {% for item in app.flashes('warning') %} {{ alerte.alert(item,'warning')}}
{% endfor %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %}" id="custom-tabs-three-home-tab" data-toggle="pill" href="#order-detail" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Details Order</a>
                    </li>
                    {#
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') == 'facturation' %}active{% endif %} " id="custom-tabs-three-profile-tab" data-toggle="pill" href="#order-facturation" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Facturation</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') == 'articles' %}active{% endif %} " id="custom-tabs-three-profile-tab" data-toggle="pill" href="#order-articles" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Ajouter un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') == 'info' %}active{% endif %} " id="custom-tabs-info-tab" data-toggle="pill" href="#order-info" role="tab" aria-controls="custom-tabs-info" aria-selected="false">Info</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p>Modifier le status de la commande
                            <a href="#" data-path="{{ path('editor_order_edit_get',{id:order.id}) }}" type="button" id="btn-modal-state" title="Modifier">
                                <i class="fas fa-pencil-alt text-success"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    <div class="tab-pane fade {% if app.request.query.get('tab') is null or app.request.query.get('tab') == ''  %}show active{% endif %}" id="order-detail" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                {{ ribbon.ribbon(order.state)}}
                                <div class="card">
                                    <div class="card-body">
                                        <!-- title row -->
                                        <div class="row">
                                            <div class="col-10">
                                                <h4>
                                                    <img src="{{ asset('img/lest-logo.png') }}" alt="" width="60px">
                                                    <small class="float-right">Date:
                                                        {{ order.createdAt| date_format_fr|capitalize }}
                                                        <a href="#"
                                                            data-path="{{ path('editor_order_edit_get',{id:order.id}) }}"
                                                            id="btn-modal-date-create" title="Modifier">
                                                            <i class="fas fa-pencil-alt text-success"></i>
                                                        </a>
                                                    </small>
                                                </h4>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- info row -->
                                        <div class="row invoice-info">
                                            <div class="col-sm-4 invoice-col">
                                                {{'From'|trans}}
                                                <address>
                                                    <strong>{{ app_name }}, Inc.</strong><br>
                                                    {{ site.ville}},
                                                    {{ site.adresse}}
                                                    {{ site.code_postal }}<br>
                                                    Phone:
                                                    {{ site.phone_number_1 }}
                                                    ( whastapp)
                                                    <br>
                                                    Email:
                                                    {{ site.email}}
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                {{'To'|trans}}
                                                <address>
                                                    <strong>{{ order.user.personne.firstName ~ ' ' ~
                                                        order.user.personne.lastName }}</strong><br>
                                                    {% if order.user.adresse is not null %}
                                                    {{ order.user.adresse.rue ~ ' ' ~ order.user.adresse.city ~ ' ' ~
                                                    order.user.adresse.pays }}
                                                    {% endif %}

                                                    <br>
                                                    {{'Phone'|trans}}:
                                                    {{ order.user.phoneNumber }}<br>
                                                    {{'Email'|trans}}:
                                                    {{ order.user.email|explode_email }}
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                <b>{{'Invoice'|trans}}
                                                    #{{ order.number }}</b><br>
                                                <br>
                                                <b>{{'Order'|trans}}
                                                    ID:</b> #{{ order.id}}
                                                <br>
                                                <b>Date limite de paiement:</b> {{ order.paymentDue | date_format_fr|capitalize }}
                                                <a href="#" data-path="{{ path('editor_order_edit_get',{id:order.id}) }}" id="btn-modal-date-limite" title="Modifier">
                                                    <i class="fas fa-pencil-alt text-success"></i>
                                                </a>
                                                <br>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                        <!-- Table row -->
                                        <div class="row">
                                            <div class="col-12 table-responsive">
                                                <table class="table tabele-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Qty</th>
                                                            <th>{{'Product'|trans}}</th>
                                                            <th>{{'price'|trans}}</th>
                                                            <th>{{'Subtotal'|trans}}</th>
                                                            <th>Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in order.orderItem %}
                                                        <tr>
                                                            <td width="10%">{{ item.quantity }}
                                                                <a href="#" data-path="{{ path('editor_order_edit_get',{id:item.id}) }}" class="btn-modal-qty ml-2" title="Modifier">
                                                                    <i class="fas fa-pencil-alt text-success"></i>
                                                                </a>
                                                            </td>
                                                            <td>{{ item.produitName }}</td>
                                                            <td>{{ item.unitPrice|number_format(0,'.',' ') }} {{ site.current_name }}
                                                            </td>
                                                            <td>{{ item.UnitsTotal |number_format(0,'.',' ') }} {{ site.current_name }}</td>
                                                            <td>
                                                            <form class="d-inline-block" method="post" action="{{ path('order_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                                                <button class="btn"><i class="text-danger fa fa-trash-alt"></i></button>
                                                            </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                        <hr>

                                        <div class="row">
                                            <!-- accepted payments column -->
                                            <div class="col-6">
                                                <p class="lead">{{'Payment Methods'|trans}}:</p>
                                                {{ order.payment.paymentMethod.name }} {# <img src="{{ asset('adminlte/dist/img/credit/visa.png') }}" alt="Visa"> #} {# <img src="{{ asset('adminlte/dist/img/credit/mastercard.png') }}" alt="Mastercard">
                                                <img src="{{ asset('adminlte/dist/img/credit/american-express.png') }}" alt="American Express">
                                                <img src="{{ asset('adminlte/dist/img/credit/paypal2.png') }}" alt="Paypal"> #}

                                                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;"> {{ order.payment.paymentMethod.description }}
                                                </p>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-6">
                                                <p class="lead">{{'Amount Due'|trans}} {{ order.paymentDue| date_format_fr }}</p>

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th style="width:50%">{{'Subtotal'|trans}}:</th>
                                                            <td>{{ order.itemsTotal | number_format(0,'.',' ') }} {{ site.current_name }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>{{'Shipping'|trans}}:</th>
                                                            <td>{{ (order.deliverySpace)? order.deliverySpace.street.shippingAmount.amount| number_format(0,'.',' ') :'0' |number_format(0,'.',' ') }} {{ site.current_name }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>{{'Total'|trans}}:</th>
                                                            <td>{{ order.total| number_format(0,'.',' ') }} {{ site.current_name }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <p>Nous vous remercions de votre confiance.<br>Cordialement</p>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if app.request.query.get('tab') == 'facturation' %}show active{% endif %}" id="order-facturation" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                        <h4>Amount : {{ order.total| number_format(2,'.',' ') }} XOF
                        </h4>
                        {{ form_start(formFacturation,{action: path('payment_edit',{id: order.payment.id }) }) }} {{ form_widget(formFacturation) }}
                        <button class="btn btn-primary">{{ button_label|default('Save') }}
                            <i class="fas fa-save    "></i>
                        </button> {{ form_end(formFacturation) }}
                    </div>
                    <div class="tab-pane fade {% if app.request.query.get('tab') == 'articles' %}show active{% endif %}" id="order-articles" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">

                        <!-- /.row -->
                        {{ form_start(formItem,{ 'attr':{ 'novalidate':'novalidate', 'class':'col-lg-12' } }) }}
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(formItem.article)}}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formItem.unit_price)}}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(formItem.quantity)}}
                            </div>
                            <div class="col">
                                {{ form_widget(formItem) }}
                                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                            </div>
                        </div>
                        {{ form_end(formItem) }}
                        <hr> {{ link.back(path('order_index'),'back to list order') }} {{ link.back(path('admin_client_order',{id:order.user.id }),'back to client list order') }}

                    </div>
                    <div class="tab-pane fade" id="order-shipping" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">{# {{ include ("admin/order/_datatable.html.twig",{id:'4',orders: ordersCompleted}) }} #}
                    </div>
                    <div class="tab-pane fade" id="order-info" role="tabpanel" aria-labelledby="custom-tabs-info-tab">
                        <div class="order-note">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="order-edit-note">Note</label>
                                    <textArea id="order-edit-note" class="form-control">{{ order.note }}</textArea>
                                </div>
                            </div>
                            <button class="btn btn-success" id="btn-order-edit-note" data-token="{{ csrf_token('edit' ~ order.id) }}" data-path="{{ path('editor_order_edit',{id:order.id}) }}">Appliquer</button>
                        </div>

                    </div>
                </div>
                <hr> {{ link.back(path('order_index'),'Listes des commandes') }}
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block foot %} {{ foot.dataTable()}} {% endblock %}