{% extends "lest/base.html.twig" %}
{% block main %}
<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
		<div class="container d-flex align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('home') }}">Home</a>

				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('articles') }}">{{ 'Shop'|trans }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{path('articles_category',{category:article.category.slug|lower}) }}">{{
						article.category.title }}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
			</ol>

			<nav class="product-pager ml-auto" aria-label="Product">
				<a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
					<i class="icon-angle-left"></i>
					<span>Prev</span>
				</a>

				<a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
					<span>Next</span>
					<i class="icon-angle-right"></i>
				</a>
			</nav>
			<!-- End .pager-nav -->
		</div>
		<!-- End .container -->
	</nav>
	<!-- End .breadcrumb-nav -->

	<div class="page-content">
		{% include "include/_alerte.html.twig" %}
		<div class="container">
			<div class="product-details-top">
				<div class="row">
					<div class="col-md-6">
						<div class="product-gallery">
							<figure class="product-main-image">
							{% import "macros/etats.html.twig" as etats %}
								{{ etats.articleLabel(article.label) }}
								{% for item in article.images|slice(0,1) %}
								<img id="product-zoom" src="{{ asset('img/article/' ~ item.name ) }}" alt="{{ article.title }}"
									data-zoom-image="{{ asset('img/article/' ~ item.name ) }}"
									alt="product image">
									{% else %}
									<div class="single-prd-item">
										<img class="img-fluid" src="{{ asset('img/article/vide.png') }}" alt="{{ article.title }}">
									</div>
									{% endfor %}

								<a href="#" id="btn-product-gallery" class="btn-product-gallery">
									<i class="icon-arrows"></i>
								</a>
							</figure>
							<!-- End .product-main-image -->
							{% if article.images[1] is defined %}
							<div id="product-zoom-gallery" class="product-image-gallery product-gallery-masonry"
								style="position: relative; height: 552.983px;">

								{% if article.images[1] is defined %}
								<a class="product-gallery-item" href="#"
									data-image="{{ asset('img/article/' ~ article.images[1].name )}}"
									data-zoom-image="{{ asset('img/article/' ~ article.images[1].name ) }}"
									style="position: absolute; left: 0px; top: 0px;">
									<img src="{{ asset('img/article/' ~ article.images[1].name)}}"
										alt="product cross">
								</a>
								{% endif %}

								{% if article.images[2] is defined %}
								<a class="product-gallery-item gallery-item-wide active" href="#"
									data-image="{{ asset('img/article/' ~ article.images[2].name )}}"
									data-zoom-image="{{ asset('img/article/' ~ article.images[2].name )}}"
									style="position: absolute; left: 292px; top: 0px;">
									<img src="{{ asset('img/article/' ~ article.images[2].name )}}"
										alt="{{ article.title }}">
								</a>
								{% endif %}

								{% if article.images[3] is defined %}
								<a class="product-gallery-item" href="#"
									data-image="{{ asset('img/article/' ~ article.images[3].name )}}"
									data-zoom-image="{{ asset('img/article/' ~ article.images[3].name )}}"
									style="position: absolute; left: 292px; top: 223.383px;">
									<img src="{{ asset('img/article/' ~ article.images[3].name )}}"
										alt="{{ article.title }}">
								</a>
								{% endif %}
							</div>
							<!-- End .product-image-gallery -->
							{% endif %}
						</div>
						<!-- End .product-gallery -->
					</div>
					<!-- End .col-md-6 -->

					<div class="col-md-6">
						<div class="product-details sticky-content">
							<h1 class="product-title">{{ article.title }}</h1>
							<!-- End .product-title -->

							<div class="ratings-container">
								<div class="ratings">
									<div class="ratings-val" style="width: {{ rating(article) }}%;"></div>
									<!-- End .ratings-val -->
								</div>
								<!-- End .ratings -->
								<a class="ratings-text" href="#product-accordion" id="review-link">( {{
									article.comments|length}} {{'Reviews'|trans}} )</a>
							</div>
							<!-- End .rating-container -->

							<div class="product-price">
								<span class="new-price">{{ article.formatterPrice }}</span>
								<span class="old-price">{{ article.formatterPrice }}</span>
							</div>
							<!-- End .product-price -->

							<div class="product-content">
								<p>{{ article.description|nl2br }}</p>
							</div>
							<!-- End .product-content -->

							<div class="row">
								<div class="col-lg-12 my-4">
									<small id="helpId" class="text-muted">Stock: {{ article.quantity }} </small>
									<form class="form-row" action="{{ path('cart_index') }}" method="post">
										<div class="form-group col-3">
											<input type="hidden" name="article_id" value="{{ article.id }}">
											<input type="number" class="form-control" min="1"
												max="{{ article.quantity }}" name="qty" value="1">
										</div>
										<div class="form-group col-9 product-details-action">
											<button type="submit" class="btn-product btn-cart btn" name="card-add">
												{{'Add to cart'|trans}} <i class="fa fa-cart-plus"
													aria-hidden="true"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
							<div class="product-details-action">
								<div class="details-action-wrapper">
									<a href="#" class="btn-product btn-wishlist" title="Wishlist">
										<span>Add to Wishlist</span>
									</a>
								</div>
								<!-- End .details-action-wrapper -->
							</div>
							<!-- End .product-details-action -->

							<div class="product-details-footer">
								<div class="product-cat">
									<span>Category:</span>
									<a href="#">{{article.category.title}}</a>
								</div>
								<!-- End .product-cat -->

								<div class="social-icons social-icons-sm">
									<span class="social-label">Share:</span>
									<a href="#" class="social-icon" title="Facebook" target="_blank">
										<i class="icon-facebook-f"></i>
									</a>
									<a href="#" class="social-icon" title="Facebook" target="_blank">
										<i class="icon-whatsapp"></i>
									</a>
									<a href="#" class="social-icon" title="Twitter" target="_blank">
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon" title="Instagram" target="_blank">
										<i class="icon-instagram"></i>
									</a>
								</div>
							</div>
							<!-- End .product-details-footer -->

							<div class="accordion accordion-plus product-details-accordion" id="product-accordion">
								<div class="card card-box card-sm">
									<div class="card-header" id="product-desc-heading">
										<h2 class="card-title">
											<a class="collapsed" role="button" data-toggle="collapse"
												href="#product-accordion-desc" aria-expanded="false"
												aria-controls="product-accordion-desc">
												Description
											</a>
										</h2>
									</div>
									<!-- End .card-header -->
									<div id="product-accordion-desc" class="collapse"
										aria-labelledby="product-desc-heading" data-parent="#product-accordion"
										style="">
										<div class="card-body">
											<div class="product-desc-content">
												<p>{{ article.description }}</p>
											</div>
											<!-- End .product-desc-content -->
										</div>
										<!-- End .card-body -->
									</div>
									<!-- End .collapse -->
								</div>
								<!-- End .card -->

								<div class="card card-box card-sm">
									<div class="card-header" id="product-info-heading">
										<h2 class="card-title">
											<a class="collapsed" role="button" data-toggle="collapse"
												href="#product-accordion-info" aria-expanded="false"
												aria-controls="product-accordion-info">
												Additional Information
											</a>
										</h2>
									</div>
									<!-- End .card-header -->
									<div id="product-accordion-info" class="collapse"
										aria-labelledby="product-info-heading" data-parent="#product-accordion">
										<div class="card-body">
											<div class="product-desc-content">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
													Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
													Suspendisse urna viverra non, semper suscipit, posuere a, pede.
													Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
													mauris sit amet orci.
												</p>

												<h3>Fabric &amp; care</h3>
												<ul>
													<li>100% Polyester</li>
													<li>Do not iron</li>
													<li>Do not wash</li>
													<li>Do not bleach</li>
													<li>Do not tumble dry</li>
													<li>Professional dry clean only</li>
												</ul>

												<h3>Size</h3>
												<p>S, M, L, XL</p>
											</div>
											<!-- End .product-desc-content -->
										</div>
										<!-- End .card-body -->
									</div>
									<!-- End .collapse -->
								</div>
								<!-- End .card -->

								<div class="card card-box card-sm">
									<div class="card-header" id="product-shipping-heading">
										<h2 class="card-title">
											<a role="button" data-toggle="collapse" href="#product-accordion-shipping"
												aria-expanded="false" aria-controls="product-accordion-shipping"
												class="collapsed">
												Shipping &amp; Returns
											</a>
										</h2>
									</div>
									<!-- End .card-header -->
									<div id="product-accordion-shipping" class="collapse"
										aria-labelledby="product-shipping-heading" data-parent="#product-accordion"
										style="">
										<div class="card-body">
											<div class="product-desc-content">
												<p>We deliver to over 100 countries around the world. For full details
													of the delivery options we offer, please view our
													<a href="#">Delivery information</a><br>
													We hope you’ll love every purchase, but if you ever need to return
													an item you can do so within a month of receipt. For full details of
													how to make a return, please view our
													<a href="#">Returns information</a>
												</p>
											</div>
											<!-- End .product-desc-content -->
										</div>
										<!-- End .card-body -->
									</div>
									<!-- End .collapse -->
								</div>
								<!-- End .card -->

								<div class="card card-box card-sm">
									<div class="card-header" id="product-review-heading">
										<h2 class="card-title">
											<a class="" role="button" data-toggle="collapse"
												href="#product-accordion-review" aria-expanded="true"
												aria-controls="product-accordion-review">
												Reviews (2)
											</a>
										</h2>
									</div>
									<!-- End .card-header -->
									<div id="product-accordion-review" class="collapse show"
										aria-labelledby="product-review-heading" data-parent="#product-accordion"
										>
										<div class="card-body">
											<div class="reviews">
												{% for comment in article.comments %}
												<div class="review">
													<div class="row no-gutters">
														<div class="col-auto">
															<h4>
																<a href="#">
																{{comment.user.personne.fullName }}</a>
															</h4>
															<div class="ratings-container">
																<div class="ratings">
																	<div class="ratings-val" style="width: {{ comment.rating }}%;"></div>
																	<!-- End .ratings-val -->
																</div>
																<!-- End .ratings -->
															</div>
															<!-- End .rating-container -->
															<span class="review-date">6 days ago</span>
														</div>
														<!-- End .col -->
														<div class="col">
															<h4>{{ comment.label }}</h4>

															<div class="review-content">
																<p>{{ comment.content }}</p>
															</div>
															<!-- End .review-content -->

															<div class="review-action">
																<a href="#">
																	<i class="icon-thumbs-up"></i>Helpful (2)</a>
																<a href="#">
																	<i class="icon-thumbs-down"></i>Unhelpful (0)</a>
															</div>
															<!-- End .review-action -->
														</div>
														<!-- End .col-auto -->
													</div>
													<!-- End .row -->
												</div>
												<!-- End .review -->
												{% endfor %}
											</div>
											<!-- End .reviews -->
											{% if is_buy %}
											<div class="form-comment">
												{{ form_start(formComment, {
												'attr':{
												'novalidate':'novalidate'
												}
												}) }}
												<div class="row">
													<div class="ratings-comment col-12 col-md-12">
														<a class="star-1" href="#">
															<i class="icon-star" style="font-size:3rem"></i>
														</a>
														<a href="#" class="star-2">
															<i class="icon-star" style="font-size:3rem"></i>
														</a>
														<a href="#" class="star-3">
															<i class="icon-star" style="font-size:3rem"></i>
														</a>
														<a href="#" class="star-4">
															<i class="icon-star" style="font-size:3rem"></i>
														</a>
														<a href="#" class="star-5">
															<i class="icon-star" style="font-size:3rem"></i>
														</a>
														<input id="rating" type="hidden" name="rating" value="">
													</div>
													<div class="col-md-12 col-12">
														{{form_row(formComment.label)}}
													</div>
													<div class="col-md-12 col-12">
														{{form_row(formComment.content)}}
													</div>
												</div>
												{% if is_granted('ROLE_CLIENT') %}
												<div class="text-center">
													<button type="submit" class="btn btn-primary">Evaluer</button>
												</div>
												{% endif %}
												{{ form_widget(formComment) }}

												{{ form_end(formComment) }}
											</div>
											{% endif %}
										</div>
										<!-- End .card-body -->
									</div>
									<!-- End .collapse -->
								</div>
								<!-- End .card -->
							</div>
							<!-- End .accordion -->
						</div>
						<!-- End .product-details -->
					</div>
					<!-- End .col-md-6 -->
				</div>
				<!-- End .row -->
			</div>
			<!-- End .product-details-top -->

			<hr class="mt-3 mb-5">

			<h2 class="title text-center mb-4">You May Also Like</h2>
			<!-- End .title text-center -->
			<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-loaded owl-drag"
				data-toggle="owl" data-owl-options="{
												                            &quot;nav&quot;: false,
												                            &quot;dots&quot;: true,
												                            &quot;margin&quot;: 20,
												                            &quot;loop&quot;: false,
												                            &quot;responsive&quot;: {
												                                &quot;0&quot;: {
												                                    &quot;items&quot;:1
												                                },
												                                &quot;480&quot;: {
												                                    &quot;items&quot;:2
												                                },
												                                &quot;768&quot;: {
												                                    &quot;items&quot;:3
												                                },
												                                &quot;992&quot;: {
												                                    &quot;items&quot;:4
												                                },
												                                &quot;1200&quot;: {
												                                    &quot;items&quot;:4,
												                                    &quot;nav&quot;: true,
												                                    &quot;dots&quot;: false
												                                }
												                            }
												                        }">
				
				<div class="owl-stage-outer">
					<div class="owl-stage"
						style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1485px;">
						<div class="owl-item active" style="width: 277px; margin-right: 20px;">
							<div class="product product-7">
								<figure class="product-media">
									<span class="product-label label-new">New</span>
									<a href="product.html">
										<img src="{{ asset('assets/images/products/product-4.jpg') }}"
											alt="Product image" class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist btn-expandable">
											<span>add to wishlist</span>
										</a>
										<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
											title="Quick view">
											<span>Quick view</span>
										</a>
										<a href="#" class="btn-product-icon btn-compare" title="Compare">
											<span>Compare</span>
										</a>
									</div>
									<!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="#" class="btn-product btn-cart">
											<span>add to cart</span>
										</a>
									</div>
									<!-- End .product-action -->
								</figure>
								<!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat">
										<a href="#">Women</a>
									</div>
									<!-- End .product-cat -->
									<h3 class="product-title">
										<a href="product.html">Brown paperbag waist
											<br>pencil skirt</a>
									</h3>
									<!-- End .product-title -->
									<div class="product-price">
										$60.00
									</div>
									<!-- End .product-price -->
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 20%;"></div>
											<!-- End .ratings-val -->
										</div>
										<!-- End .ratings -->
										<span class="ratings-text">( 2 Reviews )</span>
									</div>
									<!-- End .rating-container -->

									<div class="product-nav product-nav-thumbs">
										<a href="#" class="active">
											<img src="{{ asset('assets/images/products/product-4-thumb.jpg') }}"
												alt="product desc">
										</a>
										<a href="#">
											<img src="{{ asset('assets/images/products/product-4-2-thumb.jpg') }}"
												alt="product desc">
										</a>

										<a href="#">
											<img src="{{ asset('assets/images/products/product-4-3-thumb.jpg') }}"
												alt="product desc">
										</a>
									</div>
									<!-- End .product-nav -->
								</div>
								<!-- End .product-body -->
							</div>
						</div>
						<div class="owl-item active" style="width: 277px; margin-right: 20px;">
							<div class="product product-7">
								<figure class="product-media">
									<span class="product-label label-out">Out of Stock</span>
									<a href="product.html">
										<img src="{{ asset('assets/images/products/product-6.jpg') }}"
											alt="Product image" class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist btn-expandable">
											<span>add to wishlist</span>
										</a>
										<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
											title="Quick view">
											<span>Quick view</span>
										</a>
										<a href="#" class="btn-product-icon btn-compare" title="Compare">
											<span>Compare</span>
										</a>
									</div>
									<!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="#" class="btn-product btn-cart">
											<span>add to cart</span>
										</a>
									</div>
									<!-- End .product-action -->
								</figure>
								<!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat">
										<a href="#">Jackets</a>
									</div>
									<!-- End .product-cat -->
									<h3 class="product-title">
										<a href="product.html">Khaki utility boiler jumpsuit</a>
									</h3>
									<!-- End .product-title -->
									<div class="product-price">
										<span class="out-price">$120.00</span>
									</div>
									<!-- End .product-price -->
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 80%;"></div>
											<!-- End .ratings-val -->
										</div>
										<!-- End .ratings -->
										<span class="ratings-text">( 6 Reviews )</span>
									</div>
									<!-- End .rating-container -->
								</div>
								<!-- End .product-body -->
							</div>
						</div>
						<div class="owl-item active" style="width: 277px; margin-right: 20px;">
							<div class="product product-7">
								<figure class="product-media">
									<span class="product-label label-top">Top</span>
									<a href="product.html">
										<img src="{{ asset('assets/images/products/product-11.jpg') }}"
											alt="Product image" class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist btn-expandable">
											<span>add to wishlist</span>
										</a>
										<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
											title="Quick view">
											<span>Quick view</span>
										</a>
										<a href="#" class="btn-product-icon btn-compare" title="Compare">
											<span>Compare</span>
										</a>
									</div>
									<!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="#" class="btn-product btn-cart">
											<span>add to cart</span>
										</a>
									</div>
									<!-- End .product-action -->
								</figure>
								<!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat">
										<a href="#">Shoes</a>
									</div>
									<!-- End .product-cat -->
									<h3 class="product-title">
										<a href="product.html">Light brown studded Wide fit wedges</a>
									</h3>
									<!-- End .product-title -->
									<div class="product-price">
										$110.00
									</div>
									<!-- End .product-price -->
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 80%;"></div>
											<!-- End .ratings-val -->
										</div>
										<!-- End .ratings -->
										<span class="ratings-text">( 1 Reviews )</span>
									</div>
									<!-- End .rating-container -->

									<div class="product-nav product-nav-thumbs">
										<a href="#" class="active">
											<img src="{{ asset('assets/images/products/product-11-thumb.jpg') }}"
												alt="product desc">
										</a>
										<a href="#">
											<img src="{{ asset('assets/images/products/product-11-2-thumb.jpg') }}"
												alt="product desc">
										</a>

										<a href="#">
											<img src="{{ asset('assets/images/products/product-11-3-thumb.jpg') }}"
												alt="product desc">
										</a>
									</div>
									<!-- End .product-nav -->
								</div>
								<!-- End .product-body -->
							</div>
						</div>
						<div class="owl-item active" style="width: 277px; margin-right: 20px;">
							<div class="product product-7">
								<figure class="product-media">
									<a href="product.html">
										<img src="{{ asset('assets/images/products/product-10.jpg') }}"
											alt="Product image" class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist btn-expandable">
											<span>add to wishlist</span>
										</a>
										<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
											title="Quick view">
											<span>Quick view</span>
										</a>
										<a href="#" class="btn-product-icon btn-compare" title="Compare">
											<span>Compare</span>
										</a>
									</div>
									<!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="#" class="btn-product btn-cart">
											<span>add to cart</span>
										</a>
									</div>
									<!-- End .product-action -->
								</figure>
								<!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat">
										<a href="#">Jumpers</a>
									</div>
									<!-- End .product-cat -->
									<h3 class="product-title">
										<a href="product.html">Yellow button front tea top</a>
									</h3>
									<!-- End .product-title -->
									<div class="product-price">
										$56.00
									</div>
									<!-- End .product-price -->
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 0%;"></div>
											<!-- End .ratings-val -->
										</div>
										<!-- End .ratings -->
										<span class="ratings-text">( 0 Reviews )</span>
									</div>
									<!-- End .rating-container -->
								</div>
								<!-- End .product-body -->
							</div>
						</div>
						<div class="owl-item" style="width: 277px; margin-right: 20px;">
							<div class="product product-7">
								<figure class="product-media">
									<a href="product.html">
										<img src="{{ asset('assets/images/products/product-7.jpg') }}"
											alt="Product image" class="product-image">
									</a>

									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist btn-expandable">
											<span>add to wishlist</span>
										</a>
										<a href="popup/quickView.html" class="btn-product-icon btn-quickview"
											title="Quick view">
											<span>Quick view</span>
										</a>
										<a href="#" class="btn-product-icon btn-compare" title="Compare">
											<span>Compare</span>
										</a>
									</div>
									<!-- End .product-action-vertical -->

									<div class="product-action">
										<a href="#" class="btn-product btn-cart">
											<span>add to cart</span>
										</a>
									</div>
									<!-- End .product-action -->
								</figure>
								<!-- End .product-media -->

								<div class="product-body">
									<div class="product-cat">
										<a href="#">Jeans</a>
									</div>
									<!-- End .product-cat -->
									<h3 class="product-title">
										<a href="product.html">Blue utility pinafore denim dress</a>
									</h3>
									<!-- End .product-title -->
									<div class="product-price">
										$76.00
									</div>
									<!-- End .product-price -->
									<div class="ratings-container">
										<div class="ratings">
											<div class="ratings-val" style="width: 20%;"></div>
											<!-- End .ratings-val -->
										</div>
										<!-- End .ratings -->
										<span class="ratings-text">( 2 Reviews )</span>
									</div>
									<!-- End .rating-container -->
								</div>
								<!-- End .product-body -->
							</div>
						</div>
					</div>
				</div>
				<div class="owl-nav">
					<button type="button" role="presentation" class="owl-prev disabled">
						<i class="icon-angle-left"></i>
					</button>
					<button type="button" role="presentation" class="owl-next">
						<i class="icon-angle-right"></i>
					</button>
				</div>
				<div class="owl-dots disabled">
					<button role="button" class="owl-dot active">
						<span></span>
					</button>
					<button role="button" class="owl-dot">
						<span></span>
					</button>
					<button role="button" class="owl-dot">
						<span></span>
					</button>
					<button role="button" class="owl-dot">
						<span></span>
					</button>
					<button role="button" class="owl-dot">
						<span></span>
					</button>
				</div>
			</div>
			<!-- End .owl-carousel -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .page-content -->
</main>
{% endblock %}