{% extends "lest/base.html.twig" %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/table.html.twig" as table %}


{% block head %}
	{{ head.dataTable() }}
{% endblock %}

{% block foot %}
	{{ foot.dataTable()}}
{% endblock %}

{% block javascripts %}
	{{ table.jsDataTable('datatable_1') }}
	{{ table.jsDataTable('datatable_2') }}
	{{ table.jsDataTable('datatable_3') }}
	{{ table.jsDataTable('datatable_4') }}
	{{ table.jsDataTable('datatable_5') }}
	<script>
		$(document).ready(function () {
            $(document).on('click', '.js-order-view', function (e) {
            e.preventDefault()
            let id = $(this).data('id')
            $.ajax({
                url:"{{ path('client_order_show_ajax') }}",
                method: 'POST',
                type: 'json',
                data:{
                    id: id
                },
                beforeSend:function(){
					$('.js-loader-text').text('Chargement de la commande en cour ...')
					$('.js-loader').css('display','flex')
				},
                success: function (data) {
                    $('.js-loader').css('display','none')
                    if(data.reponse == true)
                    {
                        $('#modal-order-view').html(data.content)
                        $('#order-view-modal').modal('show')
                    }else{
                        alert('Une erreur est servenue')
                    }
                },
                error: function () {
                    alert('Une erreur est servenue')
                }
        })
})
})
	</script>
{% endblock %}

{% block main %}
	<style>
		.modal-dialog {
			max-width: 850px
		}
		#modal-order-view {
			padding: 0 10px
		}
		.table td {
			padding-top: 1rem;
			padding-bottom: 1rem
		}
	</style>
	{# {{ dump(app.user)}} #}
	<main class="main">
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('home') }}">{{'Home'|trans}}</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('articles') }}">{{'Shop'|trans}}</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">{{'My Account'|trans}}</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="dashboard">
				<div class="container-fluid">
					<div class="row">
						<aside class="col-md-3 col-lg-2">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">{{'Dashboard'|trans}}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_logout') }}">{{'Sign Out'|trans}}</a>
								</li>
							</ul>
						</aside>
						<!-- End .col-lg-3 -->

						<div class="col-md-9 col-lg-10">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
									<p>Hello
										<span class="font-weight-normal text-dark">{{ app.user.personne.fullName
                                        }}</span>
										<br>
										À partir du tableau de bord de votre compte, vous pouvez afficher
										<a href="#tab-orders" class="tab-trigger-link link-underline">vos commandes récentes</a>, gérer vos 
										<a href="#tab-address" class="tab-trigger-link">adresses de livraison et de facturation</a>,
										<a href="#tab-account" class="tab-trigger-link">et modifier votre mot de passe et les détails de votre compte.</a>.
									</p>
								</div>
								<!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
									<p>No order has been made yet.</p>
									<div class="row">
										<div class="col-md-12 col-12">
											<ul class="nav nav-tabs nav-tabs-bg" id="tabs-1" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" id="tab-1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false">
														{{'All'|trans}}
														(<span class="font-weight-bold">
															{{ orderUser(app.user) |length }}
														</span>)
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="tab-2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
														{{'Waiting'|trans}}
														(<span class="font-weight-bold">
															{{ orderUser(app.user,'waiting') |length }}
														</span>)
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="tab-3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
														{{'In progress'|trans}}
														(<span class="font-weight-bold">
															{{ orderUser(app.user,'in progress') |length }}
														</span>)
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link " id="tab-4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="true">
														{{'Completed'|trans}}
														(<span class="font-weight-bold">
															{{ orderUser(app.user,'completed') |length }}
														</span>)
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link " id="tab-5-tab" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="true">
														{{'Canceled'|trans}}
														(<span class="font-weight-bold">
															{{ orderUser(app.user,'canceled') |length }}
														</span>)
													</a>
												</li>
											</ul>
											<div class="tab-content tab-content-border" id="tab-content-1">
												<div class="tab-pane fade active show p-3" id="tab-1" role="tabpanel" aria-labelledby="tab-1-tab">
													{{ include ("client/order/_datatable.html.twig",{id:'1',orders: app.user.orders }) }}
												</div>
												<!-- .End .tab-pane -->
												<div class="tab-pane fade p-3" id="tab-2" role="tabpanel" aria-labelledby="tab-2-tab">
													{{ include ("client/order/_datatable.html.twig",{id:'2',orders: orderUser(app.user,'waiting')}) }}
												</div>
												<!-- .End .tab-pane -->
												<div class="tab-pane fade p-3" id="tab-3" role="tabpanel" aria-labelledby="tab-3-tab">
													{{ include ("client/order/_datatable.html.twig",{id:'3',orders: orderUser(app.user,'in progress') }) }}
												</div>
												<!-- .End .tab-pane -->
												<div class="tab-pane fade p-3" id="tab-4" role="tabpanel" aria-labelledby="tab-4-tab">
													{{ include ("client/order/_datatable.html.twig",{id:'4',orders: orderUser(app.user,'completed') }) }}
												</div>
												<div class="tab-pane fade p-3" id="tab-5" role="tabpanel" aria-labelledby="tab-5-tab">
													{{ include ("client/order/_datatable.html.twig",{id:'5',orders: orderUser(app.user,'completed') }) }}
												</div>
												<!-- .End .tab-pane -->
											</div>
											<!-- End .tab-content -->
										</div>
									</div>
									<a href="category.html" class="btn btn-outline-primary-2 my-2">
										<span>GO SHOP</span>
										<i class="icon-long-arrow-right"></i>
									</a>
								</div>
								<!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
									<p>No downloads available yet.</p>
									<a href="category.html" class="btn btn-outline-primary-2">
										<span>GO SHOP</span>
										<i class="icon-long-arrow-right"></i>
									</a>
								</div>
								<!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
									<p>{{'The following addresses will be used on the checkout page by default.'|trans}}</p>

									<div class="row">
										<div class="col-lg-6">
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">{{'Billing Address'|trans}}</h3>
													<!-- End .card-title -->

													<p>{{ app.user.personne.lastName }}<br>
														{{ app.user.personne.firstName }}
														<br>
														{{ app.user.adresse.city }},
														{{app.user.adresse.rue ~ ' ' ~ app.user.adresse.codePostal }}<br>
														{{ app.user.adresse.tel }}<br>
														{{ app.user.email }}<br>
														<a href="#">Edit
															<i class="icon-edit"></i>
														</a>
													</p>
												</div>
												<!-- End .card-body -->
											</div>
											<!-- End .card-dashboard -->
										</div>
										<!-- End .col-lg-6 -->

										<div class="col-lg-6">
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">{{'Shipping Address'|trans}}</h3>
													<!-- End .card-title -->

													<p>{{'You have not set up this type of address yet.'|trans}}<br>
														<a href="#">Edit
															<i class="icon-edit"></i>
														</a>
													</p>
												</div>
												<!-- End .card-body -->
											</div>
											<!-- End .card-dashboard -->
										</div>
										<!-- End .col-lg-6 -->
									</div>
									<!-- End .row -->
								</div>
								<!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
									<form action="#">
										<div class="row">
											<div class="col-sm-6">
												<label>First Name *</label>
												<input type="text" class="form-control" required="">
											</div>
											<!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>Last Name *</label>
												<input type="text" class="form-control" required="">
											</div>
											<!-- End .col-sm-6 -->
										</div>
										<!-- End .row -->

										<label>Display Name *</label>
										<input type="text" class="form-control" required="">
										<small class="form-text">This will be how your name will be displayed in the account
																																																																		                                        section and in reviews</small>

										<label>Email address *</label>
										<input type="email" class="form-control" required="">

										<label>Current password (leave blank to leave unchanged)</label>
										<input type="password" class="form-control">

										<label>New password (leave blank to leave unchanged)</label>
										<input type="password" class="form-control">

										<label>Confirm new password</label>
										<input type="password" class="form-control mb-2">

										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</div>
								<!-- .End .tab-pane -->
							</div>
						</div>
						<!-- End .col-lg-9 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .dashboard -->
		</div>
		<!-- End .page-content -->
	</main>
	<div class="modal fade" id="order-view-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog  modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="icon-close"></i>
						</span>
					</button>
					<div id="modal-order-view">
						{% include ('admin/order/_order.html.twig') %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
