{% extends "email/base.html.twig" %}
{% block body %}
<nav class="breadcrumb">
   <a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
   <span class="breadcrumb-item active">{{'Confirmation'|trans}}</span>
</nav>
<p>
    Si vous n'êtes pas à l'origine de la création d'un compte sur notre boutique en ligne lest
merci de cliquer sur ce lien pour la suppression du compte :
    <br><br>
    {{'This link will expire in'|trans}}
    <a style="color:#5F5F5F" href="{{ signedUrl|default('#') }}">Confirmer mon Email</a>.
    {# {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>
<p>
    {{'Cheers!'|trans}}
</p>


{% endblock %}
{% block btn_path %}{{ signedUrl|default('#') }}{% endblock %}
{% block btn_text %} {{'Confirm my Email'|trans}} {% endblock %}